.navbar-wrapper {
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.49);
  margin-bottom: 15px;
  color: white;
  padding-bottom: 0;
  padding-top: 5px;
}
